body{
    background-color:#d1c4e9;
}

.heading1{
    background-color:#a094b7;
    color:#d1c4e9;
    font-size: 40;
}

hr{
    color: #a094b7;   
}

p{
   color:#a094b7;
}

.heading2{
    background-color:#a094b7;
    color:#d1c4e9;
    font-size: 20;
}

#camera{
    background-color: #a094b7;
    width: 350;
    height: 300;
}

#result{
    background-color: #a094b7;
    width: 350;
    height: 300;
}


